body{
    max-width: 1200px;
    padding-left: 4%;
    padding-right: 4%;
}

header{
    background-image: url(images/fortuneTeller.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}



h1{
    color: #fff;
    font-size: 2rem;
    padding-top: 4%;
    padding-left: 2%;
    
}

h2{
    color:#fff;
    font-size: 1.5rem;
    padding-bottom: 4%;
    padding-left: 2%;
}

h3{
    color: orangered;
    font-size: 2rem;
    font-weight: bold;
}

h4{
    color: orangered;
    font-size: 1rem;
    font-weight: bold;
}

li{
   list-style-type: disc; 
}

footer{
    background-color: orangered;
}

p{
    font-size: .8rem;
    color: white;
    text-align: center;
}