body{
    margin: 0 auto;
    max-width: 1200px;
}

header{
    background-image: url(images/fortuneTeller.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}



h1{
    color: #fff;
    font-size: 2rem;
    padding-top: 4%;
    padding-left: 4%;
    
}

h2{
    color:#fff;
    font-size: 1.5rem;
    padding-bottom: 4%;
    padding-left: 4%;
}


.wrapper{
    padding-left: 4%;
}
h3{
    color: orangered;
    font-size: 2rem;
    font-weight: bold;
    
}

h4{
    color: orangered;
    font-size: 1rem;
    font-weight: bold;

}



li{
   list-style-type: disc; 
}

.fortune{
    padding-left: 4%;
}

footer{
    background-color: orangered;
}

p{
    font-size: .6rem;
    color: white;
    text-align: center;
}